{#
/**
 * @file
 * Theme implementation to generate a Catalog Archive page.
 *
 * Note that this template contains php tags because it will
 * be saved as a standalone PHP file outside of Drupal.
 *
 * @see \Drupal\hfc_catalog_helper\CatalogArchiveBuilder::extractCatalogCourses()
 * @see \Drupal\hfc_catalog_helper\CatalogArchiveBuilder::extractCatalogPrograms()
 *
 * @ingroup themeable
 */
#}
<?php
define('BREADCRUMBS', '{{ page_breadcrumbs | raw }}');
require_once('../../bootstrap.php');
?>
<!DOCTYPE html>
<html lang="en">
  <head>
    <?php echo $page->head(); ?>
    <title>{{ page_title }}</title>
  </head>
  <body>
    <div class="page">
      <?php echo $page->header(); ?>
      <?php echo $page->messages(); ?>
      <div class="region-content">

        {{ page_content }}

      </div>
      <?php echo $page->footer(); ?>
    </div>
  </body>
</html>
